@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
    --font-display: 'Inter', 'Noto Sans', 'Roboto', Arial, Helvetica, sans-serif;
    --font-sans-serif: 'Noto Sans', 'Roboto', Arial, Helvetica, sans-serif;
    --font-monospace: 'Roboto Mono', 'JetBrains Mono', monospace;
}
