@import url('fonts.css');
* {
    box-sizing: border-box;
    position: relative;
}
body {
    margin: 0;
    background: #000;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    font-family: 'Noto Sans', sans-serif;
    font-size: 24px;
}
.root {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
}
.main {
    width: 1920px;
    height: 1080px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    will-change: transform;
}
.loader {
    position: absolute;
    width: 1920px;
    height: 1080px;
    top: 0;
    left: 0;
    /*background-image: url('../img/loading.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;*/
}