* {
    --transition-easing-in: cubic-bezier(0.64, 0, 0.78, 0);
    --transition-easing-out: cubic-bezier(0.22, 1, 0.36, 1);
    --transition-easing-inout: cubic-bezier(0.83, 0, 0.17, 1);
    --transition-length: 0.6s;
}

*[transition="scale-in"] {
    animation: scale-in var(--transition-length) var(--transition-easing-out) forwards;
}
@keyframes scale-in {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

*[transition="scale-out"] {
    animation: scale-out var(--transition-length) var(--transition-easing-out) forwards;
}
@keyframes scale-out {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(0);
    }
}